@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 1, ../scss/base/_drupal.sass */
.admin-menu .fixed {
  top: emCalc(29px); }

/* line 6, ../scss/base/_drupal.sass */
#status-messages.reveal-modal .alert-box {
  margin-bottom: 0; }

/* line 9, ../scss/base/_drupal.sass */
.reveal-modal {
  z-index: 999; }

/* line 13, ../scss/base/_drupal.sass */
.item-list .pager {
  clear: none; }

/* line 16, ../scss/base/_drupal.sass */
.item-list .pager li {
  padding: 0;
  margin: 0;
  display: inline-block; }

/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */
@font-face {
  font-family: "foundation-icons";
  src: url("../fonts/foundation-icons/foundation-icons.eot");
  src: url("../fonts/foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons/foundation-icons.woff") format("woff"), url("../fonts/foundation-icons/foundation-icons.ttf") format("truetype"), url("../fonts/foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 302, ../scss/components/_foundation-icons.scss */
.fi-address-book:before,
.fi-alert:before,
.fi-align-center:before,
.fi-align-justify:before,
.fi-align-left:before,
.fi-align-right:before,
.fi-anchor:before,
.fi-annotate:before,
.fi-archive:before,
.fi-arrow-down:before,
.fi-arrow-left:before,
.fi-arrow-right:before,
.fi-arrow-up:before,
.fi-arrows-compress:before,
.fi-arrows-expand:before,
.fi-arrows-in:before,
.fi-arrows-out:before,
.fi-asl:before,
.fi-asterisk:before,
.fi-at-sign:before,
.fi-background-color:before,
.fi-battery-empty:before,
.fi-battery-full:before,
.fi-battery-half:before,
.fi-bitcoin-circle:before,
.fi-bitcoin:before,
.fi-blind:before,
.fi-bluetooth:before,
.fi-bold:before,
.fi-book-bookmark:before,
.fi-book:before,
.fi-bookmark:before,
.fi-braille:before,
.fi-burst-new:before,
.fi-burst-sale:before,
.fi-burst:before,
.fi-calendar:before,
.fi-camera:before,
.fi-check:before,
.fi-checkbox:before,
.fi-clipboard-notes:before,
.fi-clipboard-pencil:before,
.fi-clipboard:before,
.fi-clock:before,
.fi-closed-caption:before,
.fi-cloud:before,
.fi-comment-minus:before,
.fi-comment-quotes:before,
.fi-comment-video:before,
.fi-comment:before,
.fi-comments:before,
.fi-compass:before,
.fi-contrast:before,
.fi-credit-card:before,
.fi-crop:before,
.fi-crown:before,
.fi-css3:before,
.fi-database:before,
.fi-die-five:before,
.fi-die-four:before,
.fi-die-one:before,
.fi-die-six:before,
.fi-die-three:before,
.fi-die-two:before,
.fi-dislike:before,
.fi-dollar-bill:before,
.fi-dollar:before,
.fi-download:before,
.fi-eject:before,
.fi-elevator:before,
.fi-euro:before,
.fi-eye:before,
.fi-fast-forward:before,
.fi-female-symbol:before,
.fi-female:before,
.fi-filter:before,
.fi-first-aid:before,
.fi-flag:before,
.fi-folder-add:before,
.fi-folder-lock:before,
.fi-folder:before,
.fi-foot:before,
.fi-foundation:before,
.fi-graph-bar:before,
.fi-graph-horizontal:before,
.fi-graph-pie:before,
.fi-graph-trend:before,
.fi-guide-dog:before,
.fi-hearing-aid:before,
.fi-heart:before,
.fi-home:before,
.fi-html5:before,
.fi-indent-less:before,
.fi-indent-more:before,
.fi-info:before,
.fi-italic:before,
.fi-key:before,
.fi-laptop:before,
.fi-layout:before,
.fi-lightbulb:before,
.fi-like:before,
.fi-link:before,
.fi-list-bullet:before,
.fi-list-number:before,
.fi-list-thumbnails:before,
.fi-list:before,
.fi-lock:before,
.fi-loop:before,
.fi-magnifying-glass:before,
.fi-mail:before,
.fi-male-female:before,
.fi-male-symbol:before,
.fi-male:before,
.fi-map:before,
.fi-marker:before,
.fi-megaphone:before,
.fi-microphone:before,
.fi-minus-circle:before,
.fi-minus:before,
.fi-mobile-signal:before,
.fi-mobile:before,
.fi-monitor:before,
.fi-mountains:before,
.fi-music:before,
.fi-next:before,
.fi-no-dogs:before,
.fi-no-smoking:before,
.fi-page-add:before,
.fi-page-copy:before,
.fi-page-csv:before,
.fi-page-delete:before,
.fi-page-doc:before,
.fi-page-edit:before,
.fi-page-export-csv:before,
.fi-page-export-doc:before,
.fi-page-export-pdf:before,
.fi-page-export:before,
.fi-page-filled:before,
.fi-page-multiple:before,
.fi-page-pdf:before,
.fi-page-remove:before,
.fi-page-search:before,
.fi-page:before,
.fi-paint-bucket:before,
.fi-paperclip:before,
.fi-pause:before,
.fi-paw:before,
.fi-paypal:before,
.fi-pencil:before,
.fi-photo:before,
.fi-play-circle:before,
.fi-play-video:before,
.fi-play:before,
.fi-plus:before,
.fi-pound:before,
.fi-power:before,
.fi-previous:before,
.fi-price-tag:before,
.fi-pricetag-multiple:before,
.fi-print:before,
.fi-prohibited:before,
.fi-projection-screen:before,
.fi-puzzle:before,
.fi-quote:before,
.fi-record:before,
.fi-refresh:before,
.fi-results-demographics:before,
.fi-results:before,
.fi-rewind-ten:before,
.fi-rewind:before,
.fi-rss:before,
.fi-safety-cone:before,
.fi-save:before,
.fi-share:before,
.fi-sheriff-badge:before,
.fi-shield:before,
.fi-shopping-bag:before,
.fi-shopping-cart:before,
.fi-shuffle:before,
.fi-skull:before,
.fi-social-500px:before,
.fi-social-adobe:before,
.fi-social-amazon:before,
.fi-social-android:before,
.fi-social-apple:before,
.fi-social-behance:before,
.fi-social-bing:before,
.fi-social-blogger:before,
.fi-social-delicious:before,
.fi-social-designer-news:before,
.fi-social-deviant-art:before,
.fi-social-digg:before,
.fi-social-dribbble:before,
.fi-social-drive:before,
.fi-social-dropbox:before,
.fi-social-evernote:before,
.fi-social-facebook:before,
.fi-social-flickr:before,
.fi-social-forrst:before,
.fi-social-foursquare:before,
.fi-social-game-center:before,
.fi-social-github:before,
.fi-social-google-plus:before,
.fi-social-hacker-news:before,
.fi-social-hi5:before,
.fi-social-instagram:before,
.fi-social-joomla:before,
.fi-social-lastfm:before,
.fi-social-linkedin:before,
.fi-social-medium:before,
.fi-social-myspace:before,
.fi-social-orkut:before,
.fi-social-path:before,
.fi-social-picasa:before,
.fi-social-pinterest:before,
.fi-social-rdio:before,
.fi-social-reddit:before,
.fi-social-skillshare:before,
.fi-social-skype:before,
.fi-social-smashing-mag:before,
.fi-social-snapchat:before,
.fi-social-spotify:before,
.fi-social-squidoo:before,
.fi-social-stack-overflow:before,
.fi-social-steam:before,
.fi-social-stumbleupon:before,
.fi-social-treehouse:before,
.fi-social-tumblr:before,
.fi-social-twitter:before,
.fi-social-vimeo:before,
.fi-social-windows:before,
.fi-social-xbox:before,
.fi-social-yahoo:before,
.fi-social-yelp:before,
.fi-social-youtube:before,
.fi-social-zerply:before,
.fi-social-zurb:before,
.fi-sound:before,
.fi-star:before,
.fi-stop:before,
.fi-strikethrough:before,
.fi-subscript:before,
.fi-superscript:before,
.fi-tablet-landscape:before,
.fi-tablet-portrait:before,
.fi-target-two:before,
.fi-target:before,
.fi-telephone-accessible:before,
.fi-telephone:before,
.fi-text-color:before,
.fi-thumbnails:before,
.fi-ticket:before,
.fi-torso-business:before,
.fi-torso-female:before,
.fi-torso:before,
.fi-torsos-all-female:before,
.fi-torsos-all:before,
.fi-torsos-female-male:before,
.fi-torsos-male-female:before,
.fi-torsos:before,
.fi-trash:before,
.fi-trees:before,
.fi-trophy:before,
.fi-underline:before,
.fi-universal-access:before,
.fi-unlink:before,
.fi-unlock:before,
.fi-upload-cloud:before,
.fi-upload:before,
.fi-usb:before,
.fi-video:before,
.fi-volume-none:before,
.fi-volume-strike:before,
.fi-volume:before,
.fi-web:before,
.fi-wheelchair:before,
.fi-widget:before,
.fi-wrench:before,
.fi-x-circle:before,
.fi-x:before,
.fi-yen:before,
.fi-zoom-in:before,
.fi-zoom-out:before {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

/* line 314, ../scss/components/_foundation-icons.scss */
.fi-address-book:before {
  content: "\f100"; }

/* line 315, ../scss/components/_foundation-icons.scss */
.fi-alert:before {
  content: "\f101"; }

/* line 316, ../scss/components/_foundation-icons.scss */
.fi-align-center:before {
  content: "\f102"; }

/* line 317, ../scss/components/_foundation-icons.scss */
.fi-align-justify:before {
  content: "\f103"; }

/* line 318, ../scss/components/_foundation-icons.scss */
.fi-align-left:before {
  content: "\f104"; }

/* line 319, ../scss/components/_foundation-icons.scss */
.fi-align-right:before {
  content: "\f105"; }

/* line 320, ../scss/components/_foundation-icons.scss */
.fi-anchor:before {
  content: "\f106"; }

/* line 321, ../scss/components/_foundation-icons.scss */
.fi-annotate:before {
  content: "\f107"; }

/* line 322, ../scss/components/_foundation-icons.scss */
.fi-archive:before {
  content: "\f108"; }

/* line 323, ../scss/components/_foundation-icons.scss */
.fi-arrow-down:before {
  content: "\f109"; }

/* line 324, ../scss/components/_foundation-icons.scss */
.fi-arrow-left:before {
  content: "\f10a"; }

/* line 325, ../scss/components/_foundation-icons.scss */
.fi-arrow-right:before {
  content: "\f10b"; }

/* line 326, ../scss/components/_foundation-icons.scss */
.fi-arrow-up:before {
  content: "\f10c"; }

/* line 327, ../scss/components/_foundation-icons.scss */
.fi-arrows-compress:before {
  content: "\f10d"; }

/* line 328, ../scss/components/_foundation-icons.scss */
.fi-arrows-expand:before {
  content: "\f10e"; }

/* line 329, ../scss/components/_foundation-icons.scss */
.fi-arrows-in:before {
  content: "\f10f"; }

/* line 330, ../scss/components/_foundation-icons.scss */
.fi-arrows-out:before {
  content: "\f110"; }

/* line 331, ../scss/components/_foundation-icons.scss */
.fi-asl:before {
  content: "\f111"; }

/* line 332, ../scss/components/_foundation-icons.scss */
.fi-asterisk:before {
  content: "\f112"; }

/* line 333, ../scss/components/_foundation-icons.scss */
.fi-at-sign:before {
  content: "\f113"; }

/* line 334, ../scss/components/_foundation-icons.scss */
.fi-background-color:before {
  content: "\f114"; }

/* line 335, ../scss/components/_foundation-icons.scss */
.fi-battery-empty:before {
  content: "\f115"; }

/* line 336, ../scss/components/_foundation-icons.scss */
.fi-battery-full:before {
  content: "\f116"; }

/* line 337, ../scss/components/_foundation-icons.scss */
.fi-battery-half:before {
  content: "\f117"; }

/* line 338, ../scss/components/_foundation-icons.scss */
.fi-bitcoin-circle:before {
  content: "\f118"; }

/* line 339, ../scss/components/_foundation-icons.scss */
.fi-bitcoin:before {
  content: "\f119"; }

/* line 340, ../scss/components/_foundation-icons.scss */
.fi-blind:before {
  content: "\f11a"; }

/* line 341, ../scss/components/_foundation-icons.scss */
.fi-bluetooth:before {
  content: "\f11b"; }

/* line 342, ../scss/components/_foundation-icons.scss */
.fi-bold:before {
  content: "\f11c"; }

/* line 343, ../scss/components/_foundation-icons.scss */
.fi-book-bookmark:before {
  content: "\f11d"; }

/* line 344, ../scss/components/_foundation-icons.scss */
.fi-book:before {
  content: "\f11e"; }

/* line 345, ../scss/components/_foundation-icons.scss */
.fi-bookmark:before {
  content: "\f11f"; }

/* line 346, ../scss/components/_foundation-icons.scss */
.fi-braille:before {
  content: "\f120"; }

/* line 347, ../scss/components/_foundation-icons.scss */
.fi-burst-new:before {
  content: "\f121"; }

/* line 348, ../scss/components/_foundation-icons.scss */
.fi-burst-sale:before {
  content: "\f122"; }

/* line 349, ../scss/components/_foundation-icons.scss */
.fi-burst:before {
  content: "\f123"; }

/* line 350, ../scss/components/_foundation-icons.scss */
.fi-calendar:before {
  content: "\f124"; }

/* line 351, ../scss/components/_foundation-icons.scss */
.fi-camera:before {
  content: "\f125"; }

/* line 352, ../scss/components/_foundation-icons.scss */
.fi-check:before {
  content: "\f126"; }

/* line 353, ../scss/components/_foundation-icons.scss */
.fi-checkbox:before {
  content: "\f127"; }

/* line 354, ../scss/components/_foundation-icons.scss */
.fi-clipboard-notes:before {
  content: "\f128"; }

/* line 355, ../scss/components/_foundation-icons.scss */
.fi-clipboard-pencil:before {
  content: "\f129"; }

/* line 356, ../scss/components/_foundation-icons.scss */
.fi-clipboard:before {
  content: "\f12a"; }

/* line 357, ../scss/components/_foundation-icons.scss */
.fi-clock:before {
  content: "\f12b"; }

/* line 358, ../scss/components/_foundation-icons.scss */
.fi-closed-caption:before {
  content: "\f12c"; }

/* line 359, ../scss/components/_foundation-icons.scss */
.fi-cloud:before {
  content: "\f12d"; }

/* line 360, ../scss/components/_foundation-icons.scss */
.fi-comment-minus:before {
  content: "\f12e"; }

/* line 361, ../scss/components/_foundation-icons.scss */
.fi-comment-quotes:before {
  content: "\f12f"; }

/* line 362, ../scss/components/_foundation-icons.scss */
.fi-comment-video:before {
  content: "\f130"; }

/* line 363, ../scss/components/_foundation-icons.scss */
.fi-comment:before {
  content: "\f131"; }

/* line 364, ../scss/components/_foundation-icons.scss */
.fi-comments:before {
  content: "\f132"; }

/* line 365, ../scss/components/_foundation-icons.scss */
.fi-compass:before {
  content: "\f133"; }

/* line 366, ../scss/components/_foundation-icons.scss */
.fi-contrast:before {
  content: "\f134"; }

/* line 367, ../scss/components/_foundation-icons.scss */
.fi-credit-card:before {
  content: "\f135"; }

/* line 368, ../scss/components/_foundation-icons.scss */
.fi-crop:before {
  content: "\f136"; }

/* line 369, ../scss/components/_foundation-icons.scss */
.fi-crown:before {
  content: "\f137"; }

/* line 370, ../scss/components/_foundation-icons.scss */
.fi-css3:before {
  content: "\f138"; }

/* line 371, ../scss/components/_foundation-icons.scss */
.fi-database:before {
  content: "\f139"; }

/* line 372, ../scss/components/_foundation-icons.scss */
.fi-die-five:before {
  content: "\f13a"; }

/* line 373, ../scss/components/_foundation-icons.scss */
.fi-die-four:before {
  content: "\f13b"; }

/* line 374, ../scss/components/_foundation-icons.scss */
.fi-die-one:before {
  content: "\f13c"; }

/* line 375, ../scss/components/_foundation-icons.scss */
.fi-die-six:before {
  content: "\f13d"; }

/* line 376, ../scss/components/_foundation-icons.scss */
.fi-die-three:before {
  content: "\f13e"; }

/* line 377, ../scss/components/_foundation-icons.scss */
.fi-die-two:before {
  content: "\f13f"; }

/* line 378, ../scss/components/_foundation-icons.scss */
.fi-dislike:before {
  content: "\f140"; }

/* line 379, ../scss/components/_foundation-icons.scss */
.fi-dollar-bill:before {
  content: "\f141"; }

/* line 380, ../scss/components/_foundation-icons.scss */
.fi-dollar:before {
  content: "\f142"; }

/* line 381, ../scss/components/_foundation-icons.scss */
.fi-download:before {
  content: "\f143"; }

/* line 382, ../scss/components/_foundation-icons.scss */
.fi-eject:before {
  content: "\f144"; }

/* line 383, ../scss/components/_foundation-icons.scss */
.fi-elevator:before {
  content: "\f145"; }

/* line 384, ../scss/components/_foundation-icons.scss */
.fi-euro:before {
  content: "\f146"; }

/* line 385, ../scss/components/_foundation-icons.scss */
.fi-eye:before {
  content: "\f147"; }

/* line 386, ../scss/components/_foundation-icons.scss */
.fi-fast-forward:before {
  content: "\f148"; }

/* line 387, ../scss/components/_foundation-icons.scss */
.fi-female-symbol:before {
  content: "\f149"; }

/* line 388, ../scss/components/_foundation-icons.scss */
.fi-female:before {
  content: "\f14a"; }

/* line 389, ../scss/components/_foundation-icons.scss */
.fi-filter:before {
  content: "\f14b"; }

/* line 390, ../scss/components/_foundation-icons.scss */
.fi-first-aid:before {
  content: "\f14c"; }

/* line 391, ../scss/components/_foundation-icons.scss */
.fi-flag:before {
  content: "\f14d"; }

/* line 392, ../scss/components/_foundation-icons.scss */
.fi-folder-add:before {
  content: "\f14e"; }

/* line 393, ../scss/components/_foundation-icons.scss */
.fi-folder-lock:before {
  content: "\f14f"; }

/* line 394, ../scss/components/_foundation-icons.scss */
.fi-folder:before {
  content: "\f150"; }

/* line 395, ../scss/components/_foundation-icons.scss */
.fi-foot:before {
  content: "\f151"; }

/* line 396, ../scss/components/_foundation-icons.scss */
.fi-foundation:before {
  content: "\f152"; }

/* line 397, ../scss/components/_foundation-icons.scss */
.fi-graph-bar:before {
  content: "\f153"; }

/* line 398, ../scss/components/_foundation-icons.scss */
.fi-graph-horizontal:before {
  content: "\f154"; }

/* line 399, ../scss/components/_foundation-icons.scss */
.fi-graph-pie:before {
  content: "\f155"; }

/* line 400, ../scss/components/_foundation-icons.scss */
.fi-graph-trend:before {
  content: "\f156"; }

/* line 401, ../scss/components/_foundation-icons.scss */
.fi-guide-dog:before {
  content: "\f157"; }

/* line 402, ../scss/components/_foundation-icons.scss */
.fi-hearing-aid:before {
  content: "\f158"; }

/* line 403, ../scss/components/_foundation-icons.scss */
.fi-heart:before {
  content: "\f159"; }

/* line 404, ../scss/components/_foundation-icons.scss */
.fi-home:before {
  content: "\f15a"; }

/* line 405, ../scss/components/_foundation-icons.scss */
.fi-html5:before {
  content: "\f15b"; }

/* line 406, ../scss/components/_foundation-icons.scss */
.fi-indent-less:before {
  content: "\f15c"; }

/* line 407, ../scss/components/_foundation-icons.scss */
.fi-indent-more:before {
  content: "\f15d"; }

/* line 408, ../scss/components/_foundation-icons.scss */
.fi-info:before {
  content: "\f15e"; }

/* line 409, ../scss/components/_foundation-icons.scss */
.fi-italic:before {
  content: "\f15f"; }

/* line 410, ../scss/components/_foundation-icons.scss */
.fi-key:before {
  content: "\f160"; }

/* line 411, ../scss/components/_foundation-icons.scss */
.fi-laptop:before {
  content: "\f161"; }

/* line 412, ../scss/components/_foundation-icons.scss */
.fi-layout:before {
  content: "\f162"; }

/* line 413, ../scss/components/_foundation-icons.scss */
.fi-lightbulb:before {
  content: "\f163"; }

/* line 414, ../scss/components/_foundation-icons.scss */
.fi-like:before {
  content: "\f164"; }

/* line 415, ../scss/components/_foundation-icons.scss */
.fi-link:before {
  content: "\f165"; }

/* line 416, ../scss/components/_foundation-icons.scss */
.fi-list-bullet:before {
  content: "\f166"; }

/* line 417, ../scss/components/_foundation-icons.scss */
.fi-list-number:before {
  content: "\f167"; }

/* line 418, ../scss/components/_foundation-icons.scss */
.fi-list-thumbnails:before {
  content: "\f168"; }

/* line 419, ../scss/components/_foundation-icons.scss */
.fi-list:before {
  content: "\f169"; }

/* line 420, ../scss/components/_foundation-icons.scss */
.fi-lock:before {
  content: "\f16a"; }

/* line 421, ../scss/components/_foundation-icons.scss */
.fi-loop:before {
  content: "\f16b"; }

/* line 422, ../scss/components/_foundation-icons.scss */
.fi-magnifying-glass:before {
  content: "\f16c"; }

/* line 423, ../scss/components/_foundation-icons.scss */
.fi-mail:before {
  content: "\f16d"; }

/* line 424, ../scss/components/_foundation-icons.scss */
.fi-male-female:before {
  content: "\f16e"; }

/* line 425, ../scss/components/_foundation-icons.scss */
.fi-male-symbol:before {
  content: "\f16f"; }

/* line 426, ../scss/components/_foundation-icons.scss */
.fi-male:before {
  content: "\f170"; }

/* line 427, ../scss/components/_foundation-icons.scss */
.fi-map:before {
  content: "\f171"; }

/* line 428, ../scss/components/_foundation-icons.scss */
.fi-marker:before {
  content: "\f172"; }

/* line 429, ../scss/components/_foundation-icons.scss */
.fi-megaphone:before {
  content: "\f173"; }

/* line 430, ../scss/components/_foundation-icons.scss */
.fi-microphone:before {
  content: "\f174"; }

/* line 431, ../scss/components/_foundation-icons.scss */
.fi-minus-circle:before {
  content: "\f175"; }

/* line 432, ../scss/components/_foundation-icons.scss */
.fi-minus:before {
  content: "\f176"; }

/* line 433, ../scss/components/_foundation-icons.scss */
.fi-mobile-signal:before {
  content: "\f177"; }

/* line 434, ../scss/components/_foundation-icons.scss */
.fi-mobile:before {
  content: "\f178"; }

/* line 435, ../scss/components/_foundation-icons.scss */
.fi-monitor:before {
  content: "\f179"; }

/* line 436, ../scss/components/_foundation-icons.scss */
.fi-mountains:before {
  content: "\f17a"; }

/* line 437, ../scss/components/_foundation-icons.scss */
.fi-music:before {
  content: "\f17b"; }

/* line 438, ../scss/components/_foundation-icons.scss */
.fi-next:before {
  content: "\f17c"; }

/* line 439, ../scss/components/_foundation-icons.scss */
.fi-no-dogs:before {
  content: "\f17d"; }

/* line 440, ../scss/components/_foundation-icons.scss */
.fi-no-smoking:before {
  content: "\f17e"; }

/* line 441, ../scss/components/_foundation-icons.scss */
.fi-page-add:before {
  content: "\f17f"; }

/* line 442, ../scss/components/_foundation-icons.scss */
.fi-page-copy:before {
  content: "\f180"; }

/* line 443, ../scss/components/_foundation-icons.scss */
.fi-page-csv:before {
  content: "\f181"; }

/* line 444, ../scss/components/_foundation-icons.scss */
.fi-page-delete:before {
  content: "\f182"; }

/* line 445, ../scss/components/_foundation-icons.scss */
.fi-page-doc:before {
  content: "\f183"; }

/* line 446, ../scss/components/_foundation-icons.scss */
.fi-page-edit:before {
  content: "\f184"; }

/* line 447, ../scss/components/_foundation-icons.scss */
.fi-page-export-csv:before {
  content: "\f185"; }

/* line 448, ../scss/components/_foundation-icons.scss */
.fi-page-export-doc:before {
  content: "\f186"; }

/* line 449, ../scss/components/_foundation-icons.scss */
.fi-page-export-pdf:before {
  content: "\f187"; }

/* line 450, ../scss/components/_foundation-icons.scss */
.fi-page-export:before {
  content: "\f188"; }

/* line 451, ../scss/components/_foundation-icons.scss */
.fi-page-filled:before {
  content: "\f189"; }

/* line 452, ../scss/components/_foundation-icons.scss */
.fi-page-multiple:before {
  content: "\f18a"; }

/* line 453, ../scss/components/_foundation-icons.scss */
.fi-page-pdf:before {
  content: "\f18b"; }

/* line 454, ../scss/components/_foundation-icons.scss */
.fi-page-remove:before {
  content: "\f18c"; }

/* line 455, ../scss/components/_foundation-icons.scss */
.fi-page-search:before {
  content: "\f18d"; }

/* line 456, ../scss/components/_foundation-icons.scss */
.fi-page:before {
  content: "\f18e"; }

/* line 457, ../scss/components/_foundation-icons.scss */
.fi-paint-bucket:before {
  content: "\f18f"; }

/* line 458, ../scss/components/_foundation-icons.scss */
.fi-paperclip:before {
  content: "\f190"; }

/* line 459, ../scss/components/_foundation-icons.scss */
.fi-pause:before {
  content: "\f191"; }

/* line 460, ../scss/components/_foundation-icons.scss */
.fi-paw:before {
  content: "\f192"; }

/* line 461, ../scss/components/_foundation-icons.scss */
.fi-paypal:before {
  content: "\f193"; }

/* line 462, ../scss/components/_foundation-icons.scss */
.fi-pencil:before {
  content: "\f194"; }

/* line 463, ../scss/components/_foundation-icons.scss */
.fi-photo:before {
  content: "\f195"; }

/* line 464, ../scss/components/_foundation-icons.scss */
.fi-play-circle:before {
  content: "\f196"; }

/* line 465, ../scss/components/_foundation-icons.scss */
.fi-play-video:before {
  content: "\f197"; }

/* line 466, ../scss/components/_foundation-icons.scss */
.fi-play:before {
  content: "\f198"; }

/* line 467, ../scss/components/_foundation-icons.scss */
.fi-plus:before {
  content: "\f199"; }

/* line 468, ../scss/components/_foundation-icons.scss */
.fi-pound:before {
  content: "\f19a"; }

/* line 469, ../scss/components/_foundation-icons.scss */
.fi-power:before {
  content: "\f19b"; }

/* line 470, ../scss/components/_foundation-icons.scss */
.fi-previous:before {
  content: "\f19c"; }

/* line 471, ../scss/components/_foundation-icons.scss */
.fi-price-tag:before {
  content: "\f19d"; }

/* line 472, ../scss/components/_foundation-icons.scss */
.fi-pricetag-multiple:before {
  content: "\f19e"; }

/* line 473, ../scss/components/_foundation-icons.scss */
.fi-print:before {
  content: "\f19f"; }

/* line 474, ../scss/components/_foundation-icons.scss */
.fi-prohibited:before {
  content: "\f1a0"; }

/* line 475, ../scss/components/_foundation-icons.scss */
.fi-projection-screen:before {
  content: "\f1a1"; }

/* line 476, ../scss/components/_foundation-icons.scss */
.fi-puzzle:before {
  content: "\f1a2"; }

/* line 477, ../scss/components/_foundation-icons.scss */
.fi-quote:before {
  content: "\f1a3"; }

/* line 478, ../scss/components/_foundation-icons.scss */
.fi-record:before {
  content: "\f1a4"; }

/* line 479, ../scss/components/_foundation-icons.scss */
.fi-refresh:before {
  content: "\f1a5"; }

/* line 480, ../scss/components/_foundation-icons.scss */
.fi-results-demographics:before {
  content: "\f1a6"; }

/* line 481, ../scss/components/_foundation-icons.scss */
.fi-results:before {
  content: "\f1a7"; }

/* line 482, ../scss/components/_foundation-icons.scss */
.fi-rewind-ten:before {
  content: "\f1a8"; }

/* line 483, ../scss/components/_foundation-icons.scss */
.fi-rewind:before {
  content: "\f1a9"; }

/* line 484, ../scss/components/_foundation-icons.scss */
.fi-rss:before {
  content: "\f1aa"; }

/* line 485, ../scss/components/_foundation-icons.scss */
.fi-safety-cone:before {
  content: "\f1ab"; }

/* line 486, ../scss/components/_foundation-icons.scss */
.fi-save:before {
  content: "\f1ac"; }

/* line 487, ../scss/components/_foundation-icons.scss */
.fi-share:before {
  content: "\f1ad"; }

/* line 488, ../scss/components/_foundation-icons.scss */
.fi-sheriff-badge:before {
  content: "\f1ae"; }

/* line 489, ../scss/components/_foundation-icons.scss */
.fi-shield:before {
  content: "\f1af"; }

/* line 490, ../scss/components/_foundation-icons.scss */
.fi-shopping-bag:before {
  content: "\f1b0"; }

/* line 491, ../scss/components/_foundation-icons.scss */
.fi-shopping-cart:before {
  content: "\f1b1"; }

/* line 492, ../scss/components/_foundation-icons.scss */
.fi-shuffle:before {
  content: "\f1b2"; }

/* line 493, ../scss/components/_foundation-icons.scss */
.fi-skull:before {
  content: "\f1b3"; }

/* line 494, ../scss/components/_foundation-icons.scss */
.fi-social-500px:before {
  content: "\f1b4"; }

/* line 495, ../scss/components/_foundation-icons.scss */
.fi-social-adobe:before {
  content: "\f1b5"; }

/* line 496, ../scss/components/_foundation-icons.scss */
.fi-social-amazon:before {
  content: "\f1b6"; }

/* line 497, ../scss/components/_foundation-icons.scss */
.fi-social-android:before {
  content: "\f1b7"; }

/* line 498, ../scss/components/_foundation-icons.scss */
.fi-social-apple:before {
  content: "\f1b8"; }

/* line 499, ../scss/components/_foundation-icons.scss */
.fi-social-behance:before {
  content: "\f1b9"; }

/* line 500, ../scss/components/_foundation-icons.scss */
.fi-social-bing:before {
  content: "\f1ba"; }

/* line 501, ../scss/components/_foundation-icons.scss */
.fi-social-blogger:before {
  content: "\f1bb"; }

/* line 502, ../scss/components/_foundation-icons.scss */
.fi-social-delicious:before {
  content: "\f1bc"; }

/* line 503, ../scss/components/_foundation-icons.scss */
.fi-social-designer-news:before {
  content: "\f1bd"; }

/* line 504, ../scss/components/_foundation-icons.scss */
.fi-social-deviant-art:before {
  content: "\f1be"; }

/* line 505, ../scss/components/_foundation-icons.scss */
.fi-social-digg:before {
  content: "\f1bf"; }

/* line 506, ../scss/components/_foundation-icons.scss */
.fi-social-dribbble:before {
  content: "\f1c0"; }

/* line 507, ../scss/components/_foundation-icons.scss */
.fi-social-drive:before {
  content: "\f1c1"; }

/* line 508, ../scss/components/_foundation-icons.scss */
.fi-social-dropbox:before {
  content: "\f1c2"; }

/* line 509, ../scss/components/_foundation-icons.scss */
.fi-social-evernote:before {
  content: "\f1c3"; }

/* line 510, ../scss/components/_foundation-icons.scss */
.fi-social-facebook:before {
  content: "\f1c4"; }

/* line 511, ../scss/components/_foundation-icons.scss */
.fi-social-flickr:before {
  content: "\f1c5"; }

/* line 512, ../scss/components/_foundation-icons.scss */
.fi-social-forrst:before {
  content: "\f1c6"; }

/* line 513, ../scss/components/_foundation-icons.scss */
.fi-social-foursquare:before {
  content: "\f1c7"; }

/* line 514, ../scss/components/_foundation-icons.scss */
.fi-social-game-center:before {
  content: "\f1c8"; }

/* line 515, ../scss/components/_foundation-icons.scss */
.fi-social-github:before {
  content: "\f1c9"; }

/* line 516, ../scss/components/_foundation-icons.scss */
.fi-social-google-plus:before {
  content: "\f1ca"; }

/* line 517, ../scss/components/_foundation-icons.scss */
.fi-social-hacker-news:before {
  content: "\f1cb"; }

/* line 518, ../scss/components/_foundation-icons.scss */
.fi-social-hi5:before {
  content: "\f1cc"; }

/* line 519, ../scss/components/_foundation-icons.scss */
.fi-social-instagram:before {
  content: "\f1cd"; }

/* line 520, ../scss/components/_foundation-icons.scss */
.fi-social-joomla:before {
  content: "\f1ce"; }

/* line 521, ../scss/components/_foundation-icons.scss */
.fi-social-lastfm:before {
  content: "\f1cf"; }

/* line 522, ../scss/components/_foundation-icons.scss */
.fi-social-linkedin:before {
  content: "\f1d0"; }

/* line 523, ../scss/components/_foundation-icons.scss */
.fi-social-medium:before {
  content: "\f1d1"; }

/* line 524, ../scss/components/_foundation-icons.scss */
.fi-social-myspace:before {
  content: "\f1d2"; }

/* line 525, ../scss/components/_foundation-icons.scss */
.fi-social-orkut:before {
  content: "\f1d3"; }

/* line 526, ../scss/components/_foundation-icons.scss */
.fi-social-path:before {
  content: "\f1d4"; }

/* line 527, ../scss/components/_foundation-icons.scss */
.fi-social-picasa:before {
  content: "\f1d5"; }

/* line 528, ../scss/components/_foundation-icons.scss */
.fi-social-pinterest:before {
  content: "\f1d6"; }

/* line 529, ../scss/components/_foundation-icons.scss */
.fi-social-rdio:before {
  content: "\f1d7"; }

/* line 530, ../scss/components/_foundation-icons.scss */
.fi-social-reddit:before {
  content: "\f1d8"; }

/* line 531, ../scss/components/_foundation-icons.scss */
.fi-social-skillshare:before {
  content: "\f1d9"; }

/* line 532, ../scss/components/_foundation-icons.scss */
.fi-social-skype:before {
  content: "\f1da"; }

/* line 533, ../scss/components/_foundation-icons.scss */
.fi-social-smashing-mag:before {
  content: "\f1db"; }

/* line 534, ../scss/components/_foundation-icons.scss */
.fi-social-snapchat:before {
  content: "\f1dc"; }

/* line 535, ../scss/components/_foundation-icons.scss */
.fi-social-spotify:before {
  content: "\f1dd"; }

/* line 536, ../scss/components/_foundation-icons.scss */
.fi-social-squidoo:before {
  content: "\f1de"; }

/* line 537, ../scss/components/_foundation-icons.scss */
.fi-social-stack-overflow:before {
  content: "\f1df"; }

/* line 538, ../scss/components/_foundation-icons.scss */
.fi-social-steam:before {
  content: "\f1e0"; }

/* line 539, ../scss/components/_foundation-icons.scss */
.fi-social-stumbleupon:before {
  content: "\f1e1"; }

/* line 540, ../scss/components/_foundation-icons.scss */
.fi-social-treehouse:before {
  content: "\f1e2"; }

/* line 541, ../scss/components/_foundation-icons.scss */
.fi-social-tumblr:before {
  content: "\f1e3"; }

/* line 542, ../scss/components/_foundation-icons.scss */
.fi-social-twitter:before {
  content: "\f1e4"; }

/* line 543, ../scss/components/_foundation-icons.scss */
.fi-social-vimeo:before {
  content: "\f1e5"; }

/* line 544, ../scss/components/_foundation-icons.scss */
.fi-social-windows:before {
  content: "\f1e6"; }

/* line 545, ../scss/components/_foundation-icons.scss */
.fi-social-xbox:before {
  content: "\f1e7"; }

/* line 546, ../scss/components/_foundation-icons.scss */
.fi-social-yahoo:before {
  content: "\f1e8"; }

/* line 547, ../scss/components/_foundation-icons.scss */
.fi-social-yelp:before {
  content: "\f1e9"; }

/* line 548, ../scss/components/_foundation-icons.scss */
.fi-social-youtube:before {
  content: "\f1ea"; }

/* line 549, ../scss/components/_foundation-icons.scss */
.fi-social-zerply:before {
  content: "\f1eb"; }

/* line 550, ../scss/components/_foundation-icons.scss */
.fi-social-zurb:before {
  content: "\f1ec"; }

/* line 551, ../scss/components/_foundation-icons.scss */
.fi-sound:before {
  content: "\f1ed"; }

/* line 552, ../scss/components/_foundation-icons.scss */
.fi-star:before {
  content: "\f1ee"; }

/* line 553, ../scss/components/_foundation-icons.scss */
.fi-stop:before {
  content: "\f1ef"; }

/* line 554, ../scss/components/_foundation-icons.scss */
.fi-strikethrough:before {
  content: "\f1f0"; }

/* line 555, ../scss/components/_foundation-icons.scss */
.fi-subscript:before {
  content: "\f1f1"; }

/* line 556, ../scss/components/_foundation-icons.scss */
.fi-superscript:before {
  content: "\f1f2"; }

/* line 557, ../scss/components/_foundation-icons.scss */
.fi-tablet-landscape:before {
  content: "\f1f3"; }

/* line 558, ../scss/components/_foundation-icons.scss */
.fi-tablet-portrait:before {
  content: "\f1f4"; }

/* line 559, ../scss/components/_foundation-icons.scss */
.fi-target-two:before {
  content: "\f1f5"; }

/* line 560, ../scss/components/_foundation-icons.scss */
.fi-target:before {
  content: "\f1f6"; }

/* line 561, ../scss/components/_foundation-icons.scss */
.fi-telephone-accessible:before {
  content: "\f1f7"; }

/* line 562, ../scss/components/_foundation-icons.scss */
.fi-telephone:before {
  content: "\f1f8"; }

/* line 563, ../scss/components/_foundation-icons.scss */
.fi-text-color:before {
  content: "\f1f9"; }

/* line 564, ../scss/components/_foundation-icons.scss */
.fi-thumbnails:before {
  content: "\f1fa"; }

/* line 565, ../scss/components/_foundation-icons.scss */
.fi-ticket:before {
  content: "\f1fb"; }

/* line 566, ../scss/components/_foundation-icons.scss */
.fi-torso-business:before {
  content: "\f1fc"; }

/* line 567, ../scss/components/_foundation-icons.scss */
.fi-torso-female:before {
  content: "\f1fd"; }

/* line 568, ../scss/components/_foundation-icons.scss */
.fi-torso:before {
  content: "\f1fe"; }

/* line 569, ../scss/components/_foundation-icons.scss */
.fi-torsos-all-female:before {
  content: "\f1ff"; }

/* line 570, ../scss/components/_foundation-icons.scss */
.fi-torsos-all:before {
  content: "\f200"; }

/* line 571, ../scss/components/_foundation-icons.scss */
.fi-torsos-female-male:before {
  content: "\f201"; }

/* line 572, ../scss/components/_foundation-icons.scss */
.fi-torsos-male-female:before {
  content: "\f202"; }

/* line 573, ../scss/components/_foundation-icons.scss */
.fi-torsos:before {
  content: "\f203"; }

/* line 574, ../scss/components/_foundation-icons.scss */
.fi-trash:before {
  content: "\f204"; }

/* line 575, ../scss/components/_foundation-icons.scss */
.fi-trees:before {
  content: "\f205"; }

/* line 576, ../scss/components/_foundation-icons.scss */
.fi-trophy:before {
  content: "\f206"; }

/* line 577, ../scss/components/_foundation-icons.scss */
.fi-underline:before {
  content: "\f207"; }

/* line 578, ../scss/components/_foundation-icons.scss */
.fi-universal-access:before {
  content: "\f208"; }

/* line 579, ../scss/components/_foundation-icons.scss */
.fi-unlink:before {
  content: "\f209"; }

/* line 580, ../scss/components/_foundation-icons.scss */
.fi-unlock:before {
  content: "\f20a"; }

/* line 581, ../scss/components/_foundation-icons.scss */
.fi-upload-cloud:before {
  content: "\f20b"; }

/* line 582, ../scss/components/_foundation-icons.scss */
.fi-upload:before {
  content: "\f20c"; }

/* line 583, ../scss/components/_foundation-icons.scss */
.fi-usb:before {
  content: "\f20d"; }

/* line 584, ../scss/components/_foundation-icons.scss */
.fi-video:before {
  content: "\f20e"; }

/* line 585, ../scss/components/_foundation-icons.scss */
.fi-volume-none:before {
  content: "\f20f"; }

/* line 586, ../scss/components/_foundation-icons.scss */
.fi-volume-strike:before {
  content: "\f210"; }

/* line 587, ../scss/components/_foundation-icons.scss */
.fi-volume:before {
  content: "\f211"; }

/* line 588, ../scss/components/_foundation-icons.scss */
.fi-web:before {
  content: "\f212"; }

/* line 589, ../scss/components/_foundation-icons.scss */
.fi-wheelchair:before {
  content: "\f213"; }

/* line 590, ../scss/components/_foundation-icons.scss */
.fi-widget:before {
  content: "\f214"; }

/* line 591, ../scss/components/_foundation-icons.scss */
.fi-wrench:before {
  content: "\f215"; }

/* line 592, ../scss/components/_foundation-icons.scss */
.fi-x-circle:before {
  content: "\f216"; }

/* line 593, ../scss/components/_foundation-icons.scss */
.fi-x:before {
  content: "\f217"; }

/* line 594, ../scss/components/_foundation-icons.scss */
.fi-yen:before {
  content: "\f218"; }

/* line 595, ../scss/components/_foundation-icons.scss */
.fi-zoom-in:before {
  content: "\f219"; }

/* line 596, ../scss/components/_foundation-icons.scss */
.fi-zoom-out:before {
  content: "\f21a"; }

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo/Entypo-webfont.eot");
  src: url("../fonts/entypo/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/Entypo-webfont.woff") format("woff"), url("../fonts/entypo/Entypo-webfont.ttf") format("truetype"), url("../fonts/entypo/Entypo-webfont.svg#entyporegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "aller";
  src: url("../fonts/modum-regular-webfont.eot");
  src: url("../fonts/modum-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/modum-regular-webfont.woff") format("woff"), url("../fonts/modum-regular-webfont.ttf") format("truetype"), url("../fonts/modum-regular-webfont.svg#modumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 18, ../scss/tipografia/_tipografia.sass */
html, body, p {
  font-family: "aller"; }

/* line 21, ../scss/tipografia/_tipografia.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "aller"; }

/* line 24, ../scss/tipografia/_tipografia.sass */
a {
  color: white; }

@media screen and (min-width: 1200px) {
  /* line 3, ../scss/styles/_large.sass */
  body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "aller"; }

  /* line 10, ../scss/styles/_large.sass */
  #overlay {
    background: black;
    width: 100%;
    height: 100vh;
    display: block; }
    /* line 16, ../scss/styles/_large.sass */
    #overlay img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px; }
    /* line 25, ../scss/styles/_large.sass */
    #overlay p {
      color: white;
      text-align: center;
      width: 100%;
      top: 60%;
      position: absolute; }

  /* line 33, ../scss/styles/_large.sass */
  #mobile {
    display: none; }

  /* Entrada */
  /* line 42, ../scss/styles/_large.sass */
  .entrada {
    background: #1e1c1c; }
    /* line 45, ../scss/styles/_large.sass */
    .entrada .logo {
      position: absolute;
      width: 338px;
      height: 338px;
      display: block;
      top: 45%;
      left: 50%;
      margin-top: -169px;
      margin-left: -169px; }
    /* line 55, ../scss/styles/_large.sass */
    .entrada h1, .entrada h3 {
      color: #daa94a;
      text-align: center;
      margin-top: 20px; }
    /* line 60, ../scss/styles/_large.sass */
    .entrada h3 {
      font-size: 16px; }
    /* line 63, ../scss/styles/_large.sass */
    .entrada .seta_branca, .entrada .seta_dourada {
      position: absolute;
      width: 73px;
      height: 32px;
      display: block;
      bottom: 100px;
      left: 50%;
      margin-left: -36px; }
    /* line 72, ../scss/styles/_large.sass */
    .entrada .seta_dourada {
      width: 71px;
      height: 27px;
      bottom: 80px;
      margin-left: -35px; }

  /* Fim Entrada */
  /* Principal */
  /* Fim Principal */
  /* NAV */
  /* line 105, ../scss/styles/_large.sass */
  .nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 142px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    z-index: 9999; }
    /* line 116, ../scss/styles/_large.sass */
    .nav nav {
      background: url(../images/menu.png) repeat-x;
      width: 100%;
      height: 142px;
      display: block;
      margin: 0px;
      padding: 0px;
      top: 0px;
      position: absolute; }
      /* line 126, ../scss/styles/_large.sass */
      .nav nav ul {
        width: 100%;
        margin-top: 30px;
        height: 50px; }
        /* line 131, ../scss/styles/_large.sass */
        .nav nav ul li {
          height: 100%;
          float: left;
          margin: 0px;
          padding: 20px;
          color: white;
          list-style: none;
          width: 11.1111%;
          text-align: center; }
          /* line 142, ../scss/styles/_large.sass */
          .nav nav ul li a {
            font-size: 14px; }
        /* line 148, ../scss/styles/_large.sass */
        .nav nav ul li:hover a {
          color: black;
          background: white;
          padding: 10px 20px 10px 20px; }
        /* line 154, ../scss/styles/_large.sass */
        .nav nav ul .cemvicios {
          margin-top: -15px; }

  /* line 157, ../scss/styles/_large.sass */
  .nav nav ul li.cemvicios:hover {
    background: transparent; }

  /* line 160, ../scss/styles/_large.sass */
  .nav nav ul li.cemvicios:hover a {
    background: transparent; }

  /* Fim NAV */
  /* Restaurante */
  /* line 174, ../scss/styles/_large.sass */
  .restaurante {
    background: url("../images/restaurante.jpg");
    padding: 3em; }
    /* line 178, ../scss/styles/_large.sass */
    .restaurante section {
      width: 30%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      background: rgba(255, 255, 255, 0.7);
      padding: 4em;
      padding-top: 9em; }
      /* line 190, ../scss/styles/_large.sass */
      .restaurante section h2 {
        text-align: center;
        margin-top: 40%; }
      /* line 194, ../scss/styles/_large.sass */
      .restaurante section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 200, ../scss/styles/_large.sass */
        .restaurante section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Restaurante */
  /* Chef */
  /* line 216, ../scss/styles/_large.sass */
  .chef {
    background: url("../images/chef.jpg") no-repeat center center;
    padding: 3em; }
    /* line 220, ../scss/styles/_large.sass */
    .chef section {
      width: 30%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(255, 255, 255, 0.7);
      padding: 4em;
      padding-top: 9em;
      opacity: 0.7; }
      /* line 232, ../scss/styles/_large.sass */
      .chef section h2 {
        text-align: center;
        margin-top: 40%;
        line-height: 1em; }
      /* line 237, ../scss/styles/_large.sass */
      .chef section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 243, ../scss/styles/_large.sass */
        .chef section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Chef */
  /* Pratos */
  /* line 260, ../scss/styles/_large.sass */
  .pratos {
    z-index: 0;
    height: 100%; }
    /* line 264, ../scss/styles/_large.sass */
    .pratos h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 272, ../scss/styles/_large.sass */
    .pratos h2:before, .pratos h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 280, ../scss/styles/_large.sass */
    .pratos h2:after {
      margin-left: 40px; }

  /* Fim Pratos */
  /* Imprensa */
  /* line 302, ../scss/styles/_large.sass */
  .imprensa {
    z-index: 0; }
    /* line 305, ../scss/styles/_large.sass */
    .imprensa h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 313, ../scss/styles/_large.sass */
    .imprensa h2:before, .imprensa h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 321, ../scss/styles/_large.sass */
    .imprensa h2:after {
      margin-left: 40px; }

  /* Fim Imprensa */
  /* Reservas */
  /* line 343, ../scss/styles/_large.sass */
  .reservas {
    background: url(../images/reservas.jpg) no-repeat center #1e1c1c; }
    /* line 346, ../scss/styles/_large.sass */
    .reservas h2 {
      text-align: center;
      color: white;
      margin-bottom: 40px; }
    /* line 351, ../scss/styles/_large.sass */
    .reservas h2:before, .reservas h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid white;
      margin-right: 40px; }
    /* line 359, ../scss/styles/_large.sass */
    .reservas h2:after {
      margin-left: 40px; }
    /* line 364, ../scss/styles/_large.sass */
    .reservas .block-webform-client-block-3 {
      width: 50%;
      margin: 0 auto; }
      /* line 368, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 label {
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        width: 120px;
        display: inline-block; }
      /* line 376, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 input {
        border: 1px solid white;
        background: transparent;
        color: white;
        font-size: 1em;
        height: 50px;
        width: 400px;
        display: inline-block; }
      /* line 387, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas label {
        width: 137px; }
      /* line 390, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas input {
        width: 100px; }
      /* line 393, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 #webform-component-data {
        width: 100%;
        float: left; }
        /* line 399, ../scss/styles/_large.sass */
        .reservas .block-webform-client-block-3 #webform-component-data input {
          width: 30px;
          height: 30px;
          border: 0px; }
      /* line 404, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 select {
        width: 20%; }
      /* line 407, ../scss/styles/_large.sass */
      .reservas .block-webform-client-block-3 button {
        margin: 0 auto;
        display: block; }

  /* Fim Reservas */
  /* Contactos */
  /* line 420, ../scss/styles/_large.sass */
  .contactos .contactos_dados {
    width: 30%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    padding: 4em;
    padding-top: 9em;
    opacity: 0.7; }
    /* line 432, ../scss/styles/_large.sass */
    .contactos .contactos_dados h2 {
      text-align: center;
      margin-top: 40%;
      line-height: 1em; }
    /* line 437, ../scss/styles/_large.sass */
    .contactos .contactos_dados article {
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      text-align: center;
      padding: 4em 0em 4em 0em; }
      /* line 443, ../scss/styles/_large.sass */
      .contactos .contactos_dados article p {
        margin: 0px;
        padding: 0px; }

  /* Fim Contactos */
  /* Flexslider */
  /* line 467, ../scss/styles/_large.sass */
  .flexslider {
    margin: 0px;
    padding: 0px;
    border: 0px none transparent;
    box-shadow: none; }

  /* line 473, ../scss/styles/_large.sass */
  .flex-control-nav {
    bottom: 130px;
    z-index: 20; }

  /* line 477, ../scss/styles/_large.sass */
  .flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    display: block;
    opacity: 1; }

  /* line 481, ../scss/styles/_large.sass */
  .flex-direction-nav a:before {
    content: url("../images/previous.png"); }

  /* line 484, ../scss/styles/_large.sass */
  .flex-direction-nav a.flex-next:before {
    content: url("../images/next.png"); }

  /* line 487, ../scss/styles/_large.sass */
  .flex-direction-nav a {
    width: 27px;
    height: 71px; }

  /* line 491, ../scss/styles/_large.sass */
  .flex-control-paging {
    height: 11px;
    left: -20px; }
    /* line 495, ../scss/styles/_large.sass */
    .flex-control-paging li {
      display: inline-block;
      margin: 0 auto;
      padding: 0px 3px 0px 3px; }

  /* Fim Flexslider */
  /* Confirmacao */
  /* line 519, ../scss/styles/_large.sass */
  .page-node-3 p, .page-node-3 a {
    color: white;
    text-align: center; }
  /* line 524, ../scss/styles/_large.sass */
  .page-node-3 .links a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 80px; }

  /* Fim Confirmacao */ }
@media screen and (min-width: 500px) and (max-width: 1200px) {
  /* line 5, ../scss/styles/_medium.sass */
  body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "aller";
    overflow: visible; }

  /* line 13, ../scss/styles/_medium.sass */
  #overlay {
    background: white;
    width: 100%;
    height: 100vh;
    display: block; }

  /* Entrada */
  /* line 27, ../scss/styles/_medium.sass */
  .entrada {
    background: #1e1c1c;
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative; }
    /* line 36, ../scss/styles/_medium.sass */
    .entrada .logo {
      position: absolute;
      width: 338px;
      height: 338px;
      display: block;
      top: 45%;
      left: 50%;
      margin-top: -169px;
      margin-left: -169px; }
    /* line 46, ../scss/styles/_medium.sass */
    .entrada h1, .entrada h3 {
      color: #daa94a;
      text-align: center;
      margin-top: 20px; }
    /* line 51, ../scss/styles/_medium.sass */
    .entrada h3 {
      font-size: 16px; }
    /* line 54, ../scss/styles/_medium.sass */
    .entrada .seta_branca, .entrada .seta_dourada {
      position: absolute;
      width: 73px;
      height: 32px;
      display: block;
      bottom: 100px;
      left: 50%;
      margin-left: -36px; }
    /* line 63, ../scss/styles/_medium.sass */
    .entrada .seta_dourada {
      width: 71px;
      height: 27px;
      bottom: 80px;
      margin-left: -35px; }

  /* Fim Entrada */
  /* Principal */
  /* line 83, ../scss/styles/_medium.sass */
  .principal {
    display: none; }

  /* Fim Principal */
  /* Restaurante */
  /* line 92, ../scss/styles/_medium.sass */
  .restaurante {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url("../images/restaurante.jpg");
    padding: 3em; }
    /* line 102, ../scss/styles/_medium.sass */
    .restaurante section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%; }
      /* line 114, ../scss/styles/_medium.sass */
      .restaurante section h2 {
        text-align: center; }
      /* line 118, ../scss/styles/_medium.sass */
      .restaurante section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 124, ../scss/styles/_medium.sass */
        .restaurante section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Restaurante */
  /* Chef */
  /* line 135, ../scss/styles/_medium.sass */
  .chef {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url("../images/chef.jpg") no-repeat center center;
    background-size: auto auto;
    padding: 3em; }
    /* line 147, ../scss/styles/_medium.sass */
    .chef section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%; }
      /* line 159, ../scss/styles/_medium.sass */
      .chef section h2 {
        text-align: center; }
      /* line 163, ../scss/styles/_medium.sass */
      .chef section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 169, ../scss/styles/_medium.sass */
        .chef section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Chef */
  /* Pratos */
  /* line 180, ../scss/styles/_medium.sass */
  .pratos {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    z-index: 0; }
    /* line 189, ../scss/styles/_medium.sass */
    .pratos h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 197, ../scss/styles/_medium.sass */
    .pratos h2:before, .pratos h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 205, ../scss/styles/_medium.sass */
    .pratos h2:after {
      margin-left: 40px; }

  /* Fim Pratos */
  /* Imprensa */
  /* line 219, ../scss/styles/_medium.sass */
  .imprensa {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    z-index: 0; }
    /* line 227, ../scss/styles/_medium.sass */
    .imprensa h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 235, ../scss/styles/_medium.sass */
    .imprensa h2:before, .imprensa h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 243, ../scss/styles/_medium.sass */
    .imprensa h2:after {
      margin-left: 40px; }

  /* Fim Imprensa */
  /* Reservas */
  /* line 253, ../scss/styles/_medium.sass */
  .reservas {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url(../images/reservas.jpg) no-repeat center #1e1c1c; }
    /* line 262, ../scss/styles/_medium.sass */
    .reservas h2 {
      text-align: center;
      color: white;
      margin-bottom: 40px; }
    /* line 267, ../scss/styles/_medium.sass */
    .reservas h2:before, .reservas h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid white;
      margin-right: 40px; }
    /* line 275, ../scss/styles/_medium.sass */
    .reservas h2:after {
      margin-left: 40px; }
    /* line 279, ../scss/styles/_medium.sass */
    .reservas section {
      top: 20%; }
    /* line 283, ../scss/styles/_medium.sass */
    .reservas .block-webform-client-block-3 {
      width: 80%;
      position: absolute;
      left: 50%;
      margin-left: -40%; }
      /* line 290, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 label {
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        width: 120px;
        display: inline-block; }
      /* line 298, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 input {
        border: 1px solid white;
        background: transparent;
        color: white;
        font-size: 1em;
        height: 50px;
        width: 400px;
        display: inline-block; }
      /* line 309, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas label {
        width: 137px; }
      /* line 312, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas input {
        width: 100px; }
      /* line 315, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 #webform-component-data {
        width: 100%;
        float: left; }
        /* line 321, ../scss/styles/_medium.sass */
        .reservas .block-webform-client-block-3 #webform-component-data input {
          width: 30px;
          height: 30px;
          border: 0px; }
      /* line 326, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 select {
        width: 20%; }
      /* line 329, ../scss/styles/_medium.sass */
      .reservas .block-webform-client-block-3 button {
        margin: 0 auto;
        display: block; }

  /* Fim Reservas */
  /* Contactos */
  /* line 347, ../scss/styles/_medium.sass */
  .contactos {
    display: block;
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative; }
    /* line 358, ../scss/styles/_medium.sass */
    .contactos .contactos_dados {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%;
      text-align: center; }
      /* line 371, ../scss/styles/_medium.sass */
      .contactos .contactos_dados h2 {
        text-align: center;
        margin-top: 40%;
        line-height: 1em; }
      /* line 376, ../scss/styles/_medium.sass */
      .contactos .contactos_dados article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 382, ../scss/styles/_medium.sass */
        .contactos .contactos_dados article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Contactos */
  /* Flexslider */
  /* line 410, ../scss/styles/_medium.sass */
  .flexslider {
    margin: 0px;
    padding: 0px;
    border: 0px none transparent;
    box-shadow: none; }

  /* line 416, ../scss/styles/_medium.sass */
  .flex-control-nav {
    bottom: 130px;
    z-index: 20; }

  /* line 420, ../scss/styles/_medium.sass */
  .flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    display: block;
    opacity: 1; }

  /* line 424, ../scss/styles/_medium.sass */
  .flex-direction-nav a:before {
    content: url("../images/previous.png"); }

  /* line 427, ../scss/styles/_medium.sass */
  .flex-direction-nav a.flex-next:before {
    content: url("../images/next.png"); }

  /* line 430, ../scss/styles/_medium.sass */
  .flex-direction-nav a {
    width: 27px;
    height: 71px; }

  /* line 434, ../scss/styles/_medium.sass */
  .flex-control-paging {
    height: 11px;
    left: -20px; }
    /* line 438, ../scss/styles/_medium.sass */
    .flex-control-paging li {
      display: inline-block;
      margin: 0 auto;
      padding: 0px 3px 0px 3px; }

  /* Fim Flexslider */
  /* Confirmacao */
  /* line 462, ../scss/styles/_medium.sass */
  .page-node-3 p, .page-node-3 a {
    color: white;
    text-align: center; }
  /* line 467, ../scss/styles/_medium.sass */
  .page-node-3 .links a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 80px; }

  /* Fim Confirmacao */ }
@media screen and (min-width: 500px) and (max-width: 1200px) and (orientation: landscape) {
  /* line 3, ../scss/styles/_medium-landscape.sass */
  body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "aller";
    overflow: visible; }

  /* line 11, ../scss/styles/_medium-landscape.sass */
  #overlay {
    background: white;
    width: 100%;
    height: 100vh;
    display: block; }

  /* Entrada */
  /* line 21, ../scss/styles/_medium-landscape.sass */
  .entrada {
    background: #1e1c1c;
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative; }
    /* line 30, ../scss/styles/_medium-landscape.sass */
    .entrada .logo {
      position: absolute;
      width: 250px;
      height: 250px;
      display: block;
      top: 45%;
      left: 50%;
      margin-top: -125px;
      margin-left: -125px; }
    /* line 40, ../scss/styles/_medium-landscape.sass */
    .entrada h1, .entrada h3 {
      color: #daa94a;
      text-align: center;
      margin-top: 20px;
      font-size: 2em; }
    /* line 46, ../scss/styles/_medium-landscape.sass */
    .entrada h3 {
      font-size: 16px; }
    /* line 49, ../scss/styles/_medium-landscape.sass */
    .entrada .seta_branca, .entrada .seta_dourada {
      position: absolute;
      width: 73px;
      height: 32px;
      display: block;
      bottom: 40px;
      left: 50%;
      margin-left: -36px; }
    /* line 58, ../scss/styles/_medium-landscape.sass */
    .entrada .seta_dourada {
      width: 71px;
      height: 27px;
      bottom: 30px;
      margin-left: -35px; }

  /* Fim Entrada */
  /* Principal */
  /* line 78, ../scss/styles/_medium-landscape.sass */
  .principal {
    display: none; }

  /* Fim Principal */
  /* Restaurante */
  /* line 87, ../scss/styles/_medium-landscape.sass */
  .restaurante {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url("../images/restaurante.jpg");
    padding: 3em; }
    /* line 97, ../scss/styles/_medium-landscape.sass */
    .restaurante section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%; }
      /* line 109, ../scss/styles/_medium-landscape.sass */
      .restaurante section h2 {
        text-align: center; }
      /* line 113, ../scss/styles/_medium-landscape.sass */
      .restaurante section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 119, ../scss/styles/_medium-landscape.sass */
        .restaurante section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Restaurante */
  /* Chef */
  /* line 130, ../scss/styles/_medium-landscape.sass */
  .chef {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url("../images/chef.jpg") no-repeat center center;
    background-size: auto auto;
    padding: 3em; }
    /* line 142, ../scss/styles/_medium-landscape.sass */
    .chef section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%; }
      /* line 154, ../scss/styles/_medium-landscape.sass */
      .chef section h2 {
        text-align: center; }
      /* line 158, ../scss/styles/_medium-landscape.sass */
      .chef section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 164, ../scss/styles/_medium-landscape.sass */
        .chef section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Chef */
  /* Pratos */
  /* line 175, ../scss/styles/_medium-landscape.sass */
  .pratos {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    z-index: 0; }
    /* line 184, ../scss/styles/_medium-landscape.sass */
    .pratos h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 192, ../scss/styles/_medium-landscape.sass */
    .pratos h2:before, .pratos h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 200, ../scss/styles/_medium-landscape.sass */
    .pratos h2:after {
      margin-left: 40px; }

  /* Fim Pratos */
  /* Imprensa */
  /* line 214, ../scss/styles/_medium-landscape.sass */
  .imprensa {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    z-index: 0; }
    /* line 222, ../scss/styles/_medium-landscape.sass */
    .imprensa h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 230, ../scss/styles/_medium-landscape.sass */
    .imprensa h2:before, .imprensa h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 238, ../scss/styles/_medium-landscape.sass */
    .imprensa h2:after {
      margin-left: 40px; }

  /* Fim Imprensa */
  /* Reservas */
  /* line 248, ../scss/styles/_medium-landscape.sass */
  .reservas {
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative;
    background: url(../images/reservas.jpg) no-repeat center #1e1c1c; }
    /* line 257, ../scss/styles/_medium-landscape.sass */
    .reservas h2 {
      text-align: center;
      color: white;
      margin-bottom: 40px; }
    /* line 262, ../scss/styles/_medium-landscape.sass */
    .reservas h2:before, .reservas h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid white;
      margin-right: 40px; }
    /* line 270, ../scss/styles/_medium-landscape.sass */
    .reservas h2:after {
      margin-left: 40px; }
    /* line 274, ../scss/styles/_medium-landscape.sass */
    .reservas section {
      top: 0%; }
    /* line 278, ../scss/styles/_medium-landscape.sass */
    .reservas .block-webform-client-block-3 {
      width: 80%;
      position: absolute;
      left: 50%;
      margin-left: -40%; }
      /* line 285, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 label {
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        width: 120px;
        display: inline-block; }
      /* line 293, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 input {
        border: 1px solid white;
        background: transparent;
        color: white;
        font-size: 1em;
        height: 50px;
        width: 400px;
        display: inline-block; }
      /* line 304, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas label {
        width: 137px; }
      /* line 307, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas input {
        width: 100px; }
      /* line 310, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 #webform-component-data {
        width: 100%;
        float: left; }
        /* line 316, ../scss/styles/_medium-landscape.sass */
        .reservas .block-webform-client-block-3 #webform-component-data input {
          width: 30px;
          height: 30px;
          border: 0px; }
      /* line 321, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 select {
        width: 20%; }
      /* line 324, ../scss/styles/_medium-landscape.sass */
      .reservas .block-webform-client-block-3 button {
        margin: 0 auto;
        display: block; }

  /* Fim Reservas */
  /* Contactos */
  /* line 342, ../scss/styles/_medium-landscape.sass */
  .contactos {
    display: block;
    min-width: 100%;
    height: 100vh;
    display: block;
    float: left;
    position: relative; }
    /* line 353, ../scss/styles/_medium-landscape.sass */
    .contactos .contactos_dados {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 4em;
      bottom: 0;
      left: 50%;
      margin-left: -40%;
      text-align: center; }
      /* line 366, ../scss/styles/_medium-landscape.sass */
      .contactos .contactos_dados h2 {
        text-align: center;
        margin-top: 40%;
        line-height: 1em; }
      /* line 371, ../scss/styles/_medium-landscape.sass */
      .contactos .contactos_dados article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 377, ../scss/styles/_medium-landscape.sass */
        .contactos .contactos_dados article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Contactos */
  /* Flexslider */
  /* line 401, ../scss/styles/_medium-landscape.sass */
  .flexslider {
    margin: 0px;
    padding: 0px;
    border: 0px none transparent;
    box-shadow: none; }

  /* line 407, ../scss/styles/_medium-landscape.sass */
  .flex-control-nav {
    bottom: 130px;
    z-index: 20; }

  /* line 411, ../scss/styles/_medium-landscape.sass */
  .flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    display: block;
    opacity: 1; }

  /* line 415, ../scss/styles/_medium-landscape.sass */
  .flex-direction-nav a:before {
    content: url("../images/previous.png"); }

  /* line 418, ../scss/styles/_medium-landscape.sass */
  .flex-direction-nav a.flex-next:before {
    content: url("../images/next.png"); }

  /* line 421, ../scss/styles/_medium-landscape.sass */
  .flex-direction-nav a {
    width: 27px;
    height: 71px; }

  /* line 425, ../scss/styles/_medium-landscape.sass */
  .flex-control-paging {
    height: 11px;
    left: -20px; }
    /* line 429, ../scss/styles/_medium-landscape.sass */
    .flex-control-paging li {
      display: inline-block;
      margin: 0 auto;
      padding: 0px 3px 0px 3px; }

  /* Fim Flexslider */
  /* Confirmacao */
  /* line 453, ../scss/styles/_medium-landscape.sass */
  .page-node-3 p, .page-node-3 a {
    color: white;
    text-align: center; }
  /* line 458, ../scss/styles/_medium-landscape.sass */
  .page-node-3 .links a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 80px; }

  /* Fim Confirmacao */ }
@media screen and (min-width: 320px) and (max-width: 500px) {
  /* line 3, ../scss/styles/_small.sass */
  body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "aller";
    overflow: visible;
    background: #1e1c1c; }

  /* line 12, ../scss/styles/_small.sass */
  #overlay {
    background: white;
    width: 100%;
    height: 100vh;
    display: block; }

  /* Entrada */
  /* line 27, ../scss/styles/_small.sass */
  .entrada {
    background: #1e1c1c;
    width: 100%;
    height: 600px;
    display: block;
    float: left;
    position: relative; }
    /* line 36, ../scss/styles/_small.sass */
    .entrada .logo {
      position: absolute;
      width: 200px;
      height: 200px;
      display: block;
      top: 35%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px; }
    /* line 46, ../scss/styles/_small.sass */
    .entrada h1, .entrada h3 {
      color: #daa94a;
      text-align: center;
      margin-top: 20px;
      font-size: 2em; }
    /* line 52, ../scss/styles/_small.sass */
    .entrada h3 {
      font-size: 16px; }
    /* line 55, ../scss/styles/_small.sass */
    .entrada .seta_branca, .entrada .seta_dourada {
      position: absolute;
      width: 73px;
      height: 32px;
      display: block;
      bottom: 100px;
      left: 50%;
      margin-left: -36px; }
    /* line 64, ../scss/styles/_small.sass */
    .entrada .seta_dourada {
      width: 71px;
      height: 27px;
      bottom: 80px;
      margin-left: -35px; }

  /* Fim Entrada */
  /* Principal */
  /* line 76, ../scss/styles/_small.sass */
  .principal {
    display: none; }

  /* Fim Principal */
  /* Restaurante */
  /* line 85, ../scss/styles/_small.sass */
  .restaurante {
    width: 100%;
    height: 900px;
    display: block;
    float: left;
    position: relative;
    background: url("../images/restaurante.jpg");
    padding: 3em; }
    /* line 95, ../scss/styles/_small.sass */
    .restaurante section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 1em;
      left: 50%;
      margin-left: -40%; }
      /* line 106, ../scss/styles/_small.sass */
      .restaurante section h2 {
        text-align: center; }
      /* line 110, ../scss/styles/_small.sass */
      .restaurante section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 116, ../scss/styles/_small.sass */
        .restaurante section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Restaurante */
  /* Chef */
  /* line 127, ../scss/styles/_small.sass */
  .chef {
    width: 100%;
    height: 900px;
    display: block;
    float: left;
    position: relative;
    background: url("../images/chef.jpg") no-repeat center center;
    background-size: auto 900px;
    padding: 3em; }
    /* line 139, ../scss/styles/_small.sass */
    .chef section {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 1em;
      left: 50%;
      margin-left: -40%; }
      /* line 150, ../scss/styles/_small.sass */
      .chef section h2 {
        text-align: center; }
      /* line 154, ../scss/styles/_small.sass */
      .chef section article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 160, ../scss/styles/_small.sass */
        .chef section article p {
          margin: 0px;
          padding: 0px; }

  /* Fim Chef */
  /* Pratos */
  /* line 171, ../scss/styles/_small.sass */
  .pratos {
    width: 100%;
    height: 900px;
    display: block;
    float: left;
    position: relative;
    z-index: 0; }
    /* line 180, ../scss/styles/_small.sass */
    .pratos h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 188, ../scss/styles/_small.sass */
    .pratos h2:before, .pratos h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 196, ../scss/styles/_small.sass */
    .pratos h2:after {
      margin-left: 40px; }

  /* Fim Pratos */
  /* Imprensa */
  /* line 210, ../scss/styles/_small.sass */
  .imprensa {
    width: 100%;
    height: 900px;
    display: block;
    float: left;
    z-index: 0; }
    /* line 218, ../scss/styles/_small.sass */
    .imprensa h2 {
      position: absolute;
      bottom: 130px;
      left: 0px;
      width: 100%;
      text-align: center;
      z-index: 99; }
    /* line 226, ../scss/styles/_small.sass */
    .imprensa h2:before, .imprensa h2:after {
      content: "";
      width: 100px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid #1e1c1c;
      margin-right: 40px; }
    /* line 234, ../scss/styles/_small.sass */
    .imprensa h2:after {
      margin-left: 40px; }

  /* Fim Imprensa */
  /* Reservas */
  /* line 244, ../scss/styles/_small.sass */
  .reservas {
    width: 100%;
    height: 900px;
    display: block;
    float: left;
    position: relative;
    background: url(../images/reservas.jpg) no-repeat center #1e1c1c; }
    /* line 253, ../scss/styles/_small.sass */
    .reservas h2 {
      text-align: center;
      color: white;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 22px; }
    /* line 261, ../scss/styles/_small.sass */
    .reservas h2:before, .reservas h2:after {
      content: "";
      width: 30px;
      height: 10px;
      display: inline-block;
      border-top: 1px solid white;
      margin-right: 20px; }
    /* line 269, ../scss/styles/_small.sass */
    .reservas h2:after {
      margin-left: 20px; }
    /* line 273, ../scss/styles/_small.sass */
    .reservas section {
      top: 20%; }
    /* line 277, ../scss/styles/_small.sass */
    .reservas .block-webform-client-block-3 {
      width: 80%;
      margin: 0 auto; }
      /* line 284, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 label {
        color: white;
        font-size: 1em;
        margin-bottom: 10px;
        display: inline-block; }
      /* line 290, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 input {
        border: 1px solid white;
        background: transparent;
        color: white;
        font-size: 1em;
        height: 50px;
        width: 100%;
        display: inline-block; }
      /* line 301, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas label {
        width: 137px; }
      /* line 304, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 #webform-component-no-de-pessoas input {
        width: 100px; }
      /* line 307, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 #webform-component-data {
        width: 100%;
        float: left; }
        /* line 313, ../scss/styles/_small.sass */
        .reservas .block-webform-client-block-3 #webform-component-data input {
          width: 30px;
          height: 30px;
          border: 0px; }
      /* line 318, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 select {
        width: 20%; }
      /* line 321, ../scss/styles/_small.sass */
      .reservas .block-webform-client-block-3 button {
        margin: 0 auto;
        display: block; }

  /* Fim Reservas */
  /* Contactos */
  /* line 339, ../scss/styles/_small.sass */
  .contactos {
    display: block;
    width: 100%;
    height: 500px;
    display: block;
    float: left;
    position: relative; }
    /* line 350, ../scss/styles/_small.sass */
    .contactos .contactos_dados {
      width: 80%;
      height: 80%;
      display: block;
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 1em;
      bottom: 0;
      left: 50%;
      margin-left: -40%;
      text-align: center; }
      /* line 364, ../scss/styles/_small.sass */
      .contactos .contactos_dados h2 {
        text-align: center;
        margin-top: 40%;
        line-height: 1em; }
      /* line 369, ../scss/styles/_small.sass */
      .contactos .contactos_dados article {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 4em 0em 4em 0em; }
        /* line 375, ../scss/styles/_small.sass */
        .contactos .contactos_dados article p {
          margin: 0px;
          padding: 0px;
          text-align: center; }

  /* Fim Contactos */
  /* Flexslider */
  /* line 404, ../scss/styles/_small.sass */
  .flexslider {
    margin: 0px;
    padding: 0px;
    border: 0px none transparent;
    box-shadow: none; }

  /* line 410, ../scss/styles/_small.sass */
  .flex-control-nav {
    bottom: 130px;
    z-index: 20; }

  /* line 414, ../scss/styles/_small.sass */
  .flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    display: block;
    opacity: 1; }

  /* line 418, ../scss/styles/_small.sass */
  .flex-direction-nav a:before {
    content: url("../images/previous.png"); }

  /* line 421, ../scss/styles/_small.sass */
  .flex-direction-nav a.flex-next:before {
    content: url("../images/next.png"); }

  /* line 424, ../scss/styles/_small.sass */
  .flex-direction-nav a {
    width: 27px;
    height: 71px; }

  /* line 428, ../scss/styles/_small.sass */
  .flex-control-paging {
    height: 11px;
    left: -20px; }
    /* line 432, ../scss/styles/_small.sass */
    .flex-control-paging li {
      display: inline-block;
      margin: 0 auto;
      padding: 0px 3px 0px 3px; }

  /* Fim Flexslider */
  /* Confirmacao */
  /* line 456, ../scss/styles/_small.sass */
  .page-node-3 p, .page-node-3 a {
    color: white;
    text-align: center; }
  /* line 461, ../scss/styles/_small.sass */
  .page-node-3 .links a {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 80px; }

  /* Fim Confirmacao */ }
