@font-face
	font-family: 'entypo'
	src: url('../fonts/entypo/Entypo-webfont.eot')
	src: url('../fonts/entypo/Entypo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo/Entypo-webfont.woff') format('woff'), url('../fonts/entypo/Entypo-webfont.ttf') format('truetype'), url('../fonts/entypo/Entypo-webfont.svg#entyporegular') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'aller'
	src: url('../fonts/modum-regular-webfont.eot')
	src: url('../fonts/modum-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/modum-regular-webfont.woff') format('woff'), url('../fonts/modum-regular-webfont.ttf') format('truetype'), url('../fonts/modum-regular-webfont.svg#modumregular') format('svg')
	font-weight: normal
	font-style: normal



html, body, p
	font-family: 'aller'

h1, h2, h3, h4, h5, h6
	font-family: 'aller'

a
	color: white