.admin-menu .fixed
	top: emCalc(29px)


#status-messages.reveal-modal
	.alert-box
		margin-bottom: 0

.reveal-modal
	z-index: 999


.item-list .pager
	clear: none

.item-list .pager li
	padding: 0
	margin: 0
	display: inline-block

