// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//
@mixin stage
	position: absolute
	left: -999em

@mixin unstage
	position: static
	left: auto