@media screen and (min-width: $large)
	
	body, html
		width: 100%
		height: 100%
		padding: 0px
		margin: 0px
		font-family: 'aller'

	#overlay
		background: black
		width: 100%
		height: 100vh
		display: block

		img
			width: 100px
			height: 100px
			position: absolute
			top: 50%
			left: 50%
			margin-top: -50px
			margin-left: -50px

		p
			color: white
			text-align: center
			width: 100%
			top: 60%
			position: absolute


	#mobile
		display: none





	/* Entrada */

	.entrada
		background: $preto

		.logo
			position: absolute
			width: 338px
			height: 338px
			display: block
			top: 45%
			left: 50%
			margin-top: -169px
			margin-left: -169px

		h1, h3
			color: $dourado
			text-align: center
			margin-top: 20px

		h3
			font-size: 16px

		.seta_branca, .seta_dourada
			position: absolute
			width: 73px
			height: 32px
			display: block
			bottom: 100px
			left: 50%
			margin-left: -36px

		.seta_dourada
			width: 71px
			height: 27px
			bottom: 80px
			margin-left: -35px

	/* Fim Entrada */










	/* Principal */

	.principal






	/* Fim Principal */




	/* NAV */

	.nav
		position: fixed
		top: 0px
		width: 100%
		height: 142px
		margin: 0px
		padding: 0px
		opacity: 0
		z-index: 9999


		nav
			background: url(../images/menu.png) repeat-x
			width: 100%
			height: 142px
			display: block
			margin: 0px
			padding: 0px
			top: 0px
			position: absolute

			ul
				width: 100%
				margin-top: 30px
				height: 50px

				li
					height: 100%
					float: left
					margin: 0px
					padding: 20px
					color: white
					list-style: none
					width: 11.1111%
					text-align: center
					

					a
						font-size: 14px

				li:hover
					

					a
						color: black
						background: white
						padding: 10px 20px 10px 20px


				.cemvicios
					margin-top: -15px

	.nav nav ul li.cemvicios:hover
		background: transparent

	.nav nav ul li.cemvicios:hover a
		background: transparent

	/* Fim NAV */








	/* Restaurante */

	.restaurante
		background: url("../images/restaurante.jpg")
		padding: 3em

		section
			width: 30%
			height: 100%
			display: block
			position: absolute
			top: 0px
			right: 0px
			background: rgba(255, 255, 255, 0.7)
			padding: 4em
			padding-top: 9em


			h2
				text-align: center
				margin-top: 40%

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Restaurante */








	/* Chef */

	.chef
		background: url("../images/chef.jpg") no-repeat center center
		padding: 3em

		section
			width: 30%
			height: 100%
			display: block
			position: absolute
			top: 0px
			left: 0px
			background: rgba(255, 255, 255, 0.7)
			padding: 4em
			padding-top: 9em
			opacity: .7

			h2
				text-align: center
				margin-top: 40%
				line-height: 1em

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Chef */








	/* Pratos */


	.pratos
		z-index: 0
		height: 100%

		h2
			position: absolute
			bottom: 130px
			left: 0px
			width: 100%
			text-align: center
			z-index: 99

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid $preto
			margin-right: 40px

		h2:after
			margin-left: 40px











	/* Fim Pratos */





	/* Imprensa */


	.imprensa
		z-index: 0

		h2
			position: absolute
			bottom: 130px
			left: 0px
			width: 100%
			text-align: center
			z-index: 99

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid $preto
			margin-right: 40px

		h2:after
			margin-left: 40px








	/* Fim Imprensa */


	






	/* Reservas */

	.reservas
		background: url(../images/reservas.jpg) no-repeat center $preto

		h2
			text-align: center
			color: white
			margin-bottom: 40px

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid white
			margin-right: 40px

		h2:after
			margin-left: 40px



		.block-webform-client-block-3
			width: 50%
			margin: 0 auto

			label
				color: white
				font-size: 1em
				margin-bottom: 10px
				width: 120px
				display: inline-block


			input
				border: 1px solid white
				background: transparent
				color: white
				font-size: 1em
				height: 50px
				width: 400px
				display: inline-block


			#webform-component-no-de-pessoas
				label
					width: 137px

				input
					width: 100px

			#webform-component-data
				width: 100%
				float: left

				.form-item-submitted-data-month, .form-item-submitted-data-day, .form-item-submitted-data-year

				input
					width: 30px
					height: 30px
					border: 0px

			select
				width: 20%

			button
				margin: 0 auto
				display: block



	/* Fim Reservas */


	/* Contactos */

	.contactos

		.contactos_dados
			width: 30%
			height: 100%
			display: block
			position: absolute
			top: 0px
			left: 0px
			background: white
			padding: 4em
			padding-top: 9em
			opacity: .7

			h2
				text-align: center
				margin-top: 40%
				line-height: 1em

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Contactos */















	/* Flexslider */
	

	.flexslider
		margin: 0px
		padding: 0px
		border: 0px none transparent
		box-shadow: none

	.flex-control-nav
		bottom: 130px
		z-index: 20

	.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a
		display: block
		opacity: 1

	.flex-direction-nav a:before
		content: url("../images/previous.png")

	.flex-direction-nav a.flex-next:before
		content: url("../images/next.png")

	.flex-direction-nav a
		width: 27px
		height: 71px
		
	.flex-control-paging 
		height: 11px
		left: -20px

		li
			display: inline-block
			margin: 0 auto
			padding: 0px 3px 0px 3px





	/* Fim Flexslider */











	/* Confirmacao */

	.page-node-3
		p, a
			color: white
			text-align: center

		.links
			a
				text-align: center
				width: 100%
				margin: 0 auto
				display: block
				margin-top: 80px			

	/* Fim Confirmacao */








				



	





































