@media screen and (min-width: $medium) and (max-width: $large) and (orientation : landscape)
	
	body, html
		width: 100%
		height: 100%
		padding: 0px
		margin: 0px
		font-family: 'aller'
		overflow: visible

	#overlay
		background: white
		width: 100%
		height: 100vh
		display: block



	/* Entrada */

	.entrada
		background: $preto
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative


		.logo
			position: absolute
			width: 250px
			height: 250px
			display: block
			top: 45%
			left: 50%
			margin-top: -125px
			margin-left: -125px

		h1, h3
			color: $dourado
			text-align: center
			margin-top: 20px
			font-size: 2em

		h3
			font-size: 16px

		.seta_branca, .seta_dourada
			position: absolute
			width: 73px
			height: 32px
			display: block
			bottom: 40px
			left: 50%
			margin-left: -36px

		.seta_dourada
			width: 71px
			height: 27px
			bottom: 30px
			margin-left: -35px


	/* Fim Entrada */










	/* Principal */

	.principal
		display: none
		

	/* Fim Principal */


	/* Restaurante */

	.restaurante
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative
		background: url("../images/restaurante.jpg")
		padding: 3em
		

		section
			width: 80%
			height: 80%
			display: block
			position: relative
			background: rgba(255, 255, 255, 0.7)
			position: absolute
			padding: 4em
			bottom: 0
			left: 50%
			margin-left: -40%

			h2
				text-align: center
				

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Restaurante */



	/* Chef */

	.chef
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative
		background: url("../images/chef.jpg") no-repeat center center
		background-size: auto auto
		padding: 3em

		

		section
			width: 80%
			height: 80%
			display: block
			position: relative
			background: rgba(255, 255, 255, 0.7)
			position: absolute
			padding: 4em
			bottom: 0
			left: 50%
			margin-left: -40%

			h2
				text-align: center
				

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Chef */


	/* Pratos */


	.pratos
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative
		z-index: 0


		h2
			position: absolute
			bottom: 130px
			left: 0px
			width: 100%
			text-align: center
			z-index: 99

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid $preto
			margin-right: 40px

		h2:after
			margin-left: 40px



	/* Fim Pratos */





	/* Imprensa */


	.imprensa
		min-width: 100%
		height: 100vh
		display: block
		float: left
		z-index: 0


		h2
			position: absolute
			bottom: 130px
			left: 0px
			width: 100%
			text-align: center
			z-index: 99

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid $preto
			margin-right: 40px

		h2:after
			margin-left: 40px

	/* Fim Imprensa */




	/* Reservas */

	.reservas
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative
		background: url(../images/reservas.jpg) no-repeat center $preto
		

		h2
			text-align: center
			color: white
			margin-bottom: 40px

		h2:before, h2:after
			content: ""
			width: 100px
			height: 10px
			display: inline-block
			border-top: 1px solid white
			margin-right: 40px

		h2:after
			margin-left: 40px

		
		section
			top: 0%


		.block-webform-client-block-3
			width: 80%
			position: absolute
			left: 50%
			margin-left: -40%
			

			label
				color: white
				font-size: 1em
				margin-bottom: 10px
				width: 120px
				display: inline-block


			input
				border: 1px solid white
				background: transparent
				color: white
				font-size: 1em
				height: 50px
				width: 400px
				display: inline-block


			#webform-component-no-de-pessoas
				label
					width: 137px

				input
					width: 100px

			#webform-component-data
				width: 100%
				float: left

				.form-item-submitted-data-month, .form-item-submitted-data-day, .form-item-submitted-data-year

				input
					width: 30px
					height: 30px
					border: 0px

			select
				width: 20%

			button
				margin: 0 auto
				display: block










	/* Fim Reservas */


	/* Contactos */

	.contactos
		display: block
		min-width: 100%
		height: 100vh
		display: block
		float: left
		position: relative


		

		.contactos_dados
			width: 80%
			height: 80%
			display: block
			position: relative
			background: rgba(255, 255, 255, 0.7)
			position: absolute
			padding: 4em
			bottom: 0
			left: 50%
			margin-left: -40%
			text-align: center

			h2
				text-align: center
				margin-top: 40%
				line-height: 1em

			article
				border-top: 1px solid rgba(0, 0, 0, .5)
				border-bottom: 1px solid rgba(0, 0, 0, .5)
				text-align: center
				padding: 4em 0em 4em 0em

				p
					margin: 0px
					padding: 0px


	/* Fim Contactos */















	/* Flexslider */
	

	.flexslider
		margin: 0px
		padding: 0px
		border: 0px none transparent
		box-shadow: none

	.flex-control-nav
		bottom: 130px
		z-index: 20

	.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a
		display: block
		opacity: 1

	.flex-direction-nav a:before
		content: url("../images/previous.png")

	.flex-direction-nav a.flex-next:before
		content: url("../images/next.png")

	.flex-direction-nav a
		width: 27px
		height: 71px
		
	.flex-control-paging 
		height: 11px
		left: -20px

		li
			display: inline-block
			margin: 0 auto
			padding: 0px 3px 0px 3px





	/* Fim Flexslider */











	/* Confirmacao */

	.page-node-3
		p, a
			color: white
			text-align: center

		.links
			a
				text-align: center
				width: 100%
				margin: 0 auto
				display: block
				margin-top: 80px			

	/* Fim Confirmacao */


	





				










































